.main-container {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/home/background-home-desktop.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header-div {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 4rem 0;
}

.header-div--icon {
  position: relative;
  margin-left: 4rem;
}

.main-menu-container {
  position: relative;
  padding: 2.5rem;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.main-menu-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.main-menu-container::before {
  content: '';
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  height: 0.1rem;
  background-color: #fff;
  z-index: 1;
}

.main-menu {
  display: flex;
  list-style: none;
  z-index: 1;
  height: 100%;
}

.main-menu--menu-item {
  margin: 0 1rem;
  font-size: 2rem;
  height: 100%;
}

.menu-item--link {
  color: #fff;
  text-decoration: none;
}

